---
layout: layouts/base.njk
---
{% if author %}
  {% if author.name %}
    {% set authorData = author %}
  {% else %}
    {% set authorData = authors[author] %}
  {% endif %}
{% endif %}
<article class="post">
  <header class="post-header">
    <h1>{{ title }}</h1>
    {% if description %}
    <p class="post-lead">{{ description }}</p>
    {% endif %}
    {% if authorData and authorData.name %}
    <p class="post-byline">by <a href="#author">{{ authorData.name }}</a></p>
    {% endif %}
  </header>
  <div class="post-content">
    {{ content | safe }}
  </div>
  {% if authorData %}
  <aside class="author-bio" id="author">
    <div class="author-bio-photo">
      {% if authorData.photo %}
      <img src="{{ authorData.photo }}" alt="{{ authorData.name }}">
      {% endif %}
    </div>
    <div class="author-bio-text">
      {% if authorData.name %}
      <p class="author-bio-name">{{ authorData.name }}</p>
      {% endif %}
      {% if authorData.title %}
      <p class="author-bio-title">{{ authorData.title }}</p>
      {% endif %}
      {% if authorData.bio %}
      <p class="author-bio-body">{{ authorData.bio }}</p>
      {% endif %}
    </div>
  </aside>
  {% endif %}
</article>
