<nav>
  <a href="/" class="logo">
    <span class="logo-icon">
      {{ "logo.svg" | inlineSvg | safe }}
    </span>
    Privacy Magic
  </a>
  <div class="nav-actions">
    <a href="{{ site.chromeStoreUrl }}" class="cta-nav">Add to Chrome</a>
    <a href="mailto:{{ site.contactEmail }}" class="nav-contact">Contact Us</a>
  </div>
</nav>
